# Type Conversion

### All types to str

In [2]:
age=32
type(age)

int

In [3]:
str()

''

In [4]:
str(age)

'32'

In [5]:
type(age) #

int

In [8]:
age=str(age)

In [10]:
str(3.14) # butun data type lari stringe cevrilebilir. Digerleri bu kadar kolay degil

'3.14'

In [16]:
type(age)

str

In [11]:
str(True)

'True'

In [12]:
print(str(3.14)) # print ile yazdiklarimizin string olup olmadigini anlayamayiz.o yuzden cok kullanilmaz

3.14

In [13]:
pi_number=3.14
type(pi_number)

float

In [14]:
str(pi_number)

'3.14'

In [15]:
type(pi_number) # baslangic type i eger yeni bir atama yapilmazsa degismez.

float

In [18]:
pi_number=str(pi_number) # ancak bu sekilde yeni bir degiskene atarsak degisir.
type(pi_number)

str

In [20]:
age_1="33"
type(age_1)

str

In [21]:
# str ifadeyi integer a donusturme.ama type degismez.atama yapmamiz gerekir typeni degistirmek icin
int(age_1)

33

In [23]:
type(age_1)

str

In [24]:
# type i degismedigine gore bunu matematiksel islemlere sokmnak icin basina int yazmak veya degiskene atamak

2024- int(age_1)

1991

In [25]:
# ya da;eger baska yerlerde de kullanacaksak degiskene atamak lazim
age_1=int(age_1)
2024-age_1

1991

In [26]:
int("32a")  # bunu ceviremez.char var burda.benzemesi lazim integer ifadeye.

ValueError: invalid literal for int() with base 10: '32a'

In [ ]:
int("-30") # bunu cevirir. - yi algilar

#### str to float

In [28]:
float("3.14")

3.14

In [29]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

### float to int, int to float

In [30]:
int(5.4)

5

In [31]:
int(5.6)

5

In [36]:
int(5.999999999999999) # noktadan sonra 15 karaktere kadar 9 gelirse noktanin onunu alir.16.basamakta ustunu alir

5

In [37]:
# 16.basamak varsa
int(5.9999999999999999) 
# bu sadece 9 lar icin gecerli

6

In [38]:
int(22/7)# kusurasti almaz

3

In [40]:
int("3.14")  # int e cevirmek icin int e benzemesi lazim.bu bir string cevrilmez.float olsa olurdu

ValueError: invalid literal for int() with base 10: '3.14'

In [41]:
# once float sonra inte cevirebiliriz

int(float("3.14"))

3

## bool to int
### bool to float

In [42]:
int(True)

1

In [43]:
int(False)

0

In [44]:
float(True)

1.0

In [45]:
float(False)

0.0

# Aritmetik operatorler

In [46]:
# bolme isleminin sonucu hep float dir

40 / 10

4.0

In [47]:
2.4 * 5  # float * int sonucu float.float ile yapilan islemler hep float cikar

12.0

In [49]:
3.2 - 2

1.2000000000000002

In [50]:
25 / 3

8.333333333333334

In [51]:
# sadece bölum u yani 8i istersek // yapariz

24 // 3  # floor division

8

In [52]:
# kalan kismi gormek istersek modulusu kullaniyoruz

25 % 3

1

In [53]:
25 ** 0.5 # karekoku almak icin kullanilir

5.0

In [54]:
3 ** 2 # us almak icin kullanilir

9

In [56]:
x= (4 + 2 ) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

In [58]:
pi_number= 3.14
r = 7
alan= pi_number * (r ** 2)
print(alan)

153.86